nav .dropdown a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-size: 15px;
    width:130px;
    cursor:pointer;
}
nav .dropdown a:hover{
    background-color: gray;
    color: black;
}

/* Dropdown Content (Hidden by Default) */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor:pointer;
}

/* Links inside the dropdown */
nav .dropdown-content a {
    text-decoration: none;
    display: block;
    color: black;
    min-width:100px;
    text-align: center;
    padding: 25px 15px;
    font-size: 15px;
    background-color: #f9f9f9;;
}

/* Change color of dropdown links on hover */
nav .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
nav .dropdown:hover .dropdown-content {
    display: block;
}